@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;

}

body {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // background: radial-gradient(rgba(#b068dd, 0.5) 0%, transparent 70%),
  //   linear-gradient(#04000f 40%, #010131 70%) !important;
  
}

.button {
  color: #020003 !important  ;
  border-color: #202076 !important;
}
.button:hover {
  color: rgb(255, 255, 255)  !important;
  border-color: #285e8e; 
}

.main-title {
  font-size: 6rem !important;
  text-align: center;
  font-weight: 900;
  font-family: "Sigmar One", cursive;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0b/English_language.svg);
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(25, 25, 25);

}

.nav-title {
  font-size: 1.5rem !important;
  text-align: center;
  font-weight: 500;
  font-family: "Sigmar One", cursive;
  

}

span {
  position: relative;
  color: crimson;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;

  
}

span:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);
  filter: url(#motion-blur-filter);
  
}

svg {
  display: none;
}

.modal-backdrop {
  background-color: black !important;
}

.my-modal .modal-content {
  background: radial-gradient(rgba(#e6e3ff, 0.5) 0%, transparent 20%),
    linear-gradient(#d5cff7 40%, #d8cefc 70%) !important;
}

.stopClick {
  pointer-events: none;
}
